
<div class="container intro" ng-controller="createCtrl">
    <ol class="breadcrumb">
        <li><a href="#!/product">Product</a></li>
        <li class="active">Create</li>
    </ol>
    <h1>Create</h1>
    <div class="alert alert-success" role="alert" ng-show="success">
        Well done! You successfully read this important alert message.
    </div>
    <p>Please fill out the following fields to create:</p>

    <div class="row">
        <div class="col-lg-5">
            <form ng-submit="create()" name="createForm" id="create-form" method="post" role="form" >
                <div ng-class="{ 'has-success': !error['title'] && submitted,
                'has-error': error['title'] && submitted }"
                     class="form-group required">
                    <label class="control-label" for="title">Title</label>
                    <input ng-model="productModel.title" type="text" id="title" class="form-control">
                    <p class="help-block help-block-error">{{ error['title']}}</p>
                </div>
                <div ng-class="{ 'has-success': !error['price'] && submitted,
                'has-error': error['price'] && submitted }"
                     class="form-group required">
                    <label class="control-label" for="price">Price</label>
                    <input ng-model="productModel.price" type="text" id="price" class="form-control">
                    <p class="help-block help-block-error">{{ error['price']}}</p>
                </div>
                <div ng-class="{ 'has-success': !error['stock'] && submitted,
                'has-error': error['stock'] && submitted }"
                     class="form-group required">
                    <label class="control-label" for="stock">Stock</label>
                    <input ng-model="productModel.stock" type="text" id="stock" class="form-control">
                    <p class="help-block help-block-error">{{ error['stock']}}</p>
                </div>

                <div ng-class="{ 'has-success': !error['packing'] && submitted,
                'has-error': error['packing'] && submitted }"
                     class="form-group required">
                    <label class="control-label" for="packing">Packing</label>
                    <input ng-model="productModel.packing" type="text" id="packing" class="form-control">
                    <p class="help-block help-block-error">{{ error['packing']}}</p>
                </div>
                <div ng-class="{ 'has-success': !error['description'] && submitted,
                'has-error': error['description'] && submitted }"
                     class="form-group required">
                    <label class="control-label" for="description">Description</label>
                    <textarea  ng-model="productModel.description" type="text" id="description" class="form-control"></textarea>
                    <p class="help-block help-block-error">{{ error['description']}}</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="create-button">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>