
<div id="main" role="main">
    <div class="container">


        <ul class="breadcrumb">
            <li><a href="/" class="homepage-link">Trang chủ</a></li>

            <li><span class="page-title">Liên hệ</span></li>

        </ul>

        <div class="row sidebar_left ">

            <div class="column_center">
                <div id="main_content" class="col-sm-9">

                    <div class="contact-scope">

                        <h1>Liên hệ</h1>

                        <iframe src="http://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=40.576559,-73.973501&amp;spn=0.005835,0.024183&amp;z=16&amp;output=embed" height="240" width="320"></iframe>

                        <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post"><input name="form_type" type="hidden" value="contact" /><input name="utf8" type="hidden" value="✓" />





                            <div id="contactFormWrapper">

                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label class="sr-only">Your Name:</label>
                                        <input type="text" class="form-control" id="contactFormName" name="contact[name]" placeholder="Your name..." />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="sr-only">Email:</label>
                                        <input type="email" class="form-control" id="contactFormEmail" name="contact[email]" placeholder="Your email..." />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="sr-only">Phone Number:</label>
                                        <input type="telephone" class="form-control" id="contactFormTelephone" name="contact[phone]" placeholder="Your phone number..." />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label class="sr-only">Message:</label>
                                        <textarea class="form-control" rows="5" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Your Message..."></textarea>
                                    </div>
                                </div>

                                <div class="btn-toolbar form-group">
                                    <input type="submit" id="contactFormSubmit" value="Send" class="btn btn-primary" />
                                    <input type="reset" value="Clear" class="btn btn-info">
                                </div>

                            </div><!-- contactFormWrapper -->

                        </form>

                    </div>

                </div>
            </div>


            <div class="column_left column col-sm-3">

                <div class="widget widget_best_sellers">
                    <h3 class="widget_header">Bán tốt nhất</h3>
                    <div class="widget_content" ng-controller="BestSellerCtrl">
                        <div class="product_listing_sidebar">

                            <div class="product" ng-repeat="item in products">

                                <div class="product_img">  
                                    <a href="#!/san-pham/{{item.cat_alias}}/{{item.alias}}">
                                        <img src="{{item.image}}" alt="{{item.title}}" />
                                    </a>
                                </div>

                                <div class="product_info">
                                    <div class="product_name">
                                        <a href="#!/san-pham/{{item.cat_alias}}/{{item.alias}}">{{item.title}}</a>
                                    </div>
                                    <div class="product_price">
                                        <span class="money">{{item.price_sale}}</span>
                                        <span class="money compare-at-price" ng-if="item.sale != 0">{{item.price}}</span>
                                    </div>

                                </div>

                            </div>





                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
