
<!-- Intro Text -->


<div class="container intro"  ng-controller="listvideo">
    <div class="row">
        <!--        <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in items">
                        <td>{{item.title}}</td>
                        <td><a href="javascript:void(0)" ng-click="changeActive(item.id)" class="status_{{item.id}}">{{item.status==1?'Yes':'No'}}</a></td>
                        <td>
                            <a href="#!/video/view/{{item.id}}">View</a>
                            <a href="#!/video/update/{{item.id}}">Update</a>
                            <a href="javascript:void(0)" ng-click="delete(item.id)"> Delete </a>
                        </td>
                    </tr>
                </table>-->
        <div class="col-lg-3"  ng-repeat="item in items">
            <img ng-src="{{item.image}}" style="width: 100%">
            <a ng-href="/#/video/{{item.slug}}"><h5 style="min-height: 70px">{{item.title}}</h5></a>
        </div>

    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-primary text-center" ng-hide="count < limit" ng-click="show(page + 2)">show more...</button>
        </div>
    </div>
</div>